@font-face {
  font-family: newyorker;
  src:url(fonts/newyork.TTF);
}
@media only screen and (max-width:900px)
{
 main, footer
  {
    position:relative; top: 120.5vh;
  }
 main
  {
    height:1950px; background-color: #ffffff; z-index:0;
  }
 body
 {
  background-image:url(../imago/Fountain_Pen.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat; background-size: 100% auto;
  background-position: top center;
  z-index:-1;
 }
 

 #BackgroundImg
 {
   position:relative; top:-65vh; opacity:0.7;
   display:inline-block; height: 160px; left: calc(50vw - 70px); width:180px;
   background-image:url(../imago/icon.png); background-size:150px, 100px;
   z-index:-0.25;
   background-repeat: no-repeat;
 }
 
 #d1
 {
   position: relative;
   top: 0.5vh; clear:both; display: inline-block;
   width:99vw;
 }
 #d1 >section
{
  display:inline-block;
  width:95vw; height:auto;
  position: absolute;
  left: 2.5vw; top:30px;
  text:justify;
  z-index:-0.1;
  padding:2px;
}
 #d1 >section >h2
  {
    position: absolute;
    display: inline-block; width:95vw;
    font-family:newyorker; font-size: 30px;
    color: #d0a115c7; font-style: italic;
    text-align:center; margin-top:2vh; margin-bottom:30px;
  }
#d1 >section >p
{
  width:94vw;
  color:#000000; font-size: 22px; font-family: sans-serif;
  text-align:center; position:absolute; left:3vw; top: 55px;
}  
#d1> figure
{
  position:absolute; display:inline-block;
  left:5vw; width:90vw; height:auto;
  top:220px; z-index:0;
}
figure >img
{
  position:absolute; display:inline-block;
  opacity:0.2; left:5vw;
  width:80vw; height:300px;
}
figcaption
{
  opacity:0;
}
 #d1> img
 {
   position: absolute;
   display:inline-block;
   width:60vw;
   left:20vw; top: 160px ;
 }
 
#d2
  {
    position: absolute; left:7.5vw; top:1000px;
    display:inline-block; width:85vw;
  }
#d2 ul
  {
    margin-bottom: 4vh; text-align:justify; font-family: verdana;
    font-size: 16.5px; line-height: 19.5px; text-align: center; margin-left: 5vw;
  }

#d3
{
  width:99vw; height: auto;
  display:inline-block;
  position:relative;
  top:3890px;

}

#d3>img
{
  dislay:inline-block;
  position:absolute;
  left:18vw; top:-20px;
  width:60vw; height:auto;
}
#d3> p
{
  width:94vw;
  color:#000000; font-size: 22px; font-family: sans-serif;
  text-align:center; position:absolute; left:3vw; top: 55px;
}

.Styled
  {
    font-family:newyorker;
    font-size:22px;
  }
 
footer
{
  display:inline-block;
  width:100vw; height:10vh;
  position:relative;
  bottom:0px;
  background-color:#000000;
  color: #8a8c87; font-size:11.5px; font-family:newyorker;
  text-align: center;
}
footer >p
{
  margin-top:1vh;
}
footer >p>span
{
  color: #8a8c87;
  transition-property: all; transition-duration: 1s; transition-timing-function: ease-in;
}
footer >p>span:hover
{
  color: #d0a115c7;
}
footer>p>img
{
  width:18px; height:14px;
}
}


@media only screen and (min-width:900px)
{
  main, footer
  {
    position:relative; top: 220vh;
  }
  main
  {
    height:2500px; background-color: #ffffff; z-index:0;
  }
  body
  {  background-image:url(../imago/Fountain_Pen.jpg); width:105vw;
    background-attachment: fixed;
    background-repeat: no-repeat; background-size: cover; background-position: center center;
    z-index:-1;
  }
  
  #d1
{
  position: relative; background-color: #ffffff;
  top: 0.5vh; clear:both; display: inline-block;
  width:85vw; height: 2000px; z-index:0;
}
  #d1> section
{
  display:inline-block;
  width:46vw; height:auto;
  position: absolute;
  left: 3vw; top:5vh;
}
  #d1> section> h2
  {
  font-family:newyorker; font-size: 28px;
  color: #d0a115c7; font-style: italic; font-variant: small-caps;
  margin-bottom: 8vh; text-align:center; font-weight: bold; margin-top:1vh;
}
 
#d1 >section >p
{
  margin-bottom: 2vh; font-family:verdana, arial; text-align: justify;
  font-size: 16.5px; line-height: 19.5px;
}
  #d1> figure
{
  display:inline-block; position: absolute;
  width:35vw; height:85vh; left: 55vw; top: 0vh;
}
figure> img
{
  position:absolute;
  left:0.5vw; top:0vh;
  width:33vw; height: 70vh;
}
figcaption
{
  position:absolute;
  left:0vw; top:75vh;
  text-align:center; font-family: newyorker; font-size: 15px; color: #d0a115c7;
  font-weight: bold;
}
  #d1> img
  {
    position: absolute;
    display:inline-block;
    width:60vw;
    left:20vw; top:80vh;
  }
  
 #d2
  {
    position: absolute; left:5vw; top:610px;
    display:inline-block; width:85vw;
  }
#d2 ul
  {
    margin-bottom: 4vh; text-align:justify; font-family: sans-serif;
    font-size: 16.5px; line-height: 19.5px; margin-left: 5vw; text-align: justify;
  }
 
 #d2>img
{
  dislay:inline-block;
  position:absolute;
  left:18vw; top:1300px;
  width:60vw; height:auto;
}
#d2> p
{
  display:inline-block; width:99vw;
  color:#000000; font-size: 22px; font-family: sans-serif;
  text-align:center; position:absolute; left:0vw; top: 1700px;
}

  .Styled
  {
    font-family:newyorker;
    font-size:22px;
  }

footer
{
  display:inline-block;
  width:85vw; height:10vh;
  position:relative;
  background-color:#000000;
  color: #8a8c87; font-size:12.5px; font-family:newyorker;
  text-align: center;
}
footer >p
{
  margin-top:1vh;
}
footer >p>span
{
  color: #8a8c87;
  transition-property: all; transition-duration: 1.5s; transition-timing-function: ease-in;
}
footer >p>span:hover
{
  color: #d0a115c7;
}
footer>p>img
{
  width:18px; height:14px;
}
}
