@font-face {
  font-family: newyorker;
  src:url(../fonts/newyork.TTF);
}

@media only screen and (max-width:900px)
{
  html, body {
      max-width: 100%;

  }

main, footer
  {
    position:relative; top: 100vh;
  }
main
  {
    height:2300px; background-color: #ffffff; z-index:0; width: 104vw;
  }
body
  {  
    background-image:url(../imago/Fountain_Pen.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat; background-size: cover; background-position: center center;
    z-index:-1;
  }

#d1
  {
    position: relative; background-color: #ffffff;
    top: 0.5vh; clear:both; display: inline-block;
    width:104vw; height: 500px; z-index:0;
  }
#d1> section
  {
    display:inline-block;
    width:46vw; height:auto;
    position: absolute;
    left: 5vw; top:5vh;
  }
#d1> section> h2
  {
    font-family:newyorker; font-size: 28px;
    color: #d0a115c7; font-style: italic; font-variant: small-caps;
    margin-bottom: 8vh; text-align:center; font-weight: bold; margin-top:1vh;
  }
 
#d1 >section >p
{
  margin-bottom: 2vh; font-family:verdana, arial; text-align: justify;
  font-size: 16.5px; line-height: 19.5px;
}
#d1> figure
{
  position:absolute; display:inline-block;
  left:5vw; width:90vw; height:auto;
  top:220px; z-index:0;
}
figure >img
{
  position:absolute; display:inline-block;
  opacity:0.5; left:5vw;
  width:80vw; height:100px;
}
figcaption
{
  opacity:0;
}
 #d1> img
  {
    position: absolute;
    display:inline-block;
    width:60vw;
    left:20vw; top:80vh;
  }
  
 #d2
  {
    position: absolute; left:0vw; top:670px;
    display:inline-block; width:104vw; background-color: #ffffff;
  }
#d2 ul
  {
    margin-bottom: 4vh; text-align:justify; font-family: sans-serif; list-style: initial
    font-size: 16.5px; line-height: 19.5px; margin-left: 15vw; margin-right: 20vw; text-align: justify;
  }
 
 #d2>img
{
  dislay:inline-block;
  position:absolute;
  left:18vw; top:1100px;
  width:60vw; height:auto;
}
#d2> p
{
  display:inline-block; width:99vw;
  color:#000000; font-size: 22px; font-family: sans-serif;
  text-align:center; position:absolute; left:0vw; top: 1475px;
}

  .Styled
  {
    font-family:newyorker;
    font-size:22px;
  }
  
footer
{
  display:inline-block;
  width:104vw; height:8vh;
  position:relative;
  background-color:#000000;
  color: #8a8c87; font-size:12.5px; font-family:newyorker;
  text-align: center;
  }
footer >p
{
  margin-top:1vh;
}
footer >p>span
{
  color: #8a8c87;
  transition-property: all; transition-duration: 1s; transition-timing-function: ease-in;
}
footer >p>span:hover
{
  color: #d0a115c7;
}
footer>p>img
{
  width:20px; height:14px;
}
}


@media only screen and (min-width:900px)
{
  html, body {
      max-width: 100%;

  }

main, footer
  {
    position:relative; top: 100vh;
  }
main
  {
    height:2300px; background-color: #ffffff; z-index:0; width: 104vw;
  }
body
{  background-image:url(../imago/Fountain_Pen.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat; background-size: cover; background-position: center center;
  z-index:-1;
}

#d1
{
  position: relative; background-color: #ffffff;
  top: 0.5vh; clear:both; display: inline-block;
  width:104vw; height: 500px; z-index:0;
}
  #d1> section
{
  display:inline-block;
  width:46vw; height:auto;
  position: absolute;
  left: 5vw; top:5vh;
}
  #d1> section> h2
  {
  font-family:newyorker; font-size: 28px;
  color: #d0a115c7; font-style: italic; font-variant: small-caps;
  margin-bottom: 8vh; text-align:center; font-weight: bold; margin-top:1vh;
}
 
#d1 >section >p
{
  margin-bottom: 2vh; font-family:verdana, arial; text-align: justify;
  font-size: 16.5px; line-height: 19.5px;
}
  #d1> figure
{
  display:inline-block; position: absolute;
  width:35vw; height:85vh; left: 60vw; top: 0vh;
}
figure> img
{
  position:absolute;
  left:0.5vw; top:0vh;
  width:33vw; height: 70vh;
}
figcaption
{
  position:absolute;
  left:1vw; top:72vh;
  text-align:center; font-family: newyorker; font-size: 15px; color: #d0a115c7;
  font-weight: bold;
}
  #d1> img
  {
    position: absolute;
    display:inline-block;
    width:60vw;
    left:20vw; top:80vh;
  }
  
 #d2
  {
    position: absolute; left:0vw; top:670px;
    display:inline-block; width:104vw; background-color: #ffffff;
  }
#d2 ul
  {
    margin-bottom: 4vh; text-align:justify; font-family: sans-serif; list-style: initial
    font-size: 16.5px; line-height: 19.5px; margin-left: 15vw; margin-right: 20vw; text-align: justify;
  }
 
 #d2>img
{
  dislay:inline-block;
  position:absolute;
  left:18vw; top:1100px;
  width:60vw; height:auto;
}
#d2> p
{
  display:inline-block; width:99vw;
  color:#000000; font-size: 22px; font-family: sans-serif;
  text-align:center; position:absolute; left:0vw; top: 1475px;
}

  .Styled
  {
    font-family:newyorker;
    font-size:22px;
  }
  
.ital
{
  font-style:italic;
}
footer
{
  display:inline-block;
  width:104vw; height:8vh;
  position:relative;
  background-color:#000000;
  color: #8a8c87; font-size:12.5px; font-family:newyorker;
  text-align: center;
  }
footer >p
{
  margin-top:1vh;
}
footer >p>span
{
  color: #8a8c87;
  transition-property: all; transition-duration: 1s; transition-timing-function: ease-in;
}
footer >p>span:hover
{
  color: #d0a115c7;
}
footer>p>img
{
  width:20px; height:14px;
}
}
