@font-face {
  font-family: newyorker;
  src:url(../fonts/newyork.TTF);
}

@media only screen and (max-width:900px)
{
  main
  {
    position:relative; top:100vh; height:5700px;
  }
  body
  {
    background-image:url(../imago/cover1alt.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat; background-size: 100% auto;
    background-position: center center;
    z-index:-1;
  }
  .slideshow img
  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  #submenu
  {
    text-align:center;
    position:relative;
    width:90%; height:20vh;
    top: -75vh;
    left:5%; z-index:-0.5;

  }
  #submenu >a
  {
    position:absolute;
    text-decoration: none;
    box-sizing: border-box;
    width: 35vw; max-height:7vh;
    padding-top: 2.5vh; padding-bottom:3vh;
    padding-left: 1vw; padding-right: 1vw;
    margin:0;
    margin-left:2vw; margin-right:2vw;
    border-style: solid; border-color: #ae8610; border-width:0.5px;
    border-radius:35px;
    background-color: #1c1919; opacity:0.6;
    font-family:newyorker; font-size:11.5px;color: #ffffff;
  }
  #submenu a:first-child
  {
    top:0vh; left:0px;
  }
  #submenu a:nth-child(2)
  {
    top:0vh; right:0vw;
  }
  #submenu a:nth-child(3)
  {
    top:10vh; left:0px;
  }
  #submenu a:nth-child(4)
  {
    top:10vh; right:0vw;
  }
  #submenu a:nth-child(5)
  {
    top:20vh; left:0vw;
  }
  #UpTownFunk
  {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 35px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */

    color: #ffffff; background-color: #000000;
    width: 60px; height:55px;
    font-family: sans-serif;
    font-size:30px; border:none; border-radius: 5px;
    opacity: 0.75;
    transition-property: opacity, color;
    transition-duration: 0.5s; transition-delay: 0.2s;
    transition-timing-function: linear;
  }

  #UpTownFunk:hover, #UpTownFunk:focus
  {
    color: #ae8610;
    opacity: 0.85;
  }
  #BackgroundImg
  {
    position:relative; top:-55vh; opacity:0.5;
    display:inline-block; height: 160px; left: calc(50vw - 70px); width:180px;
    background-image:url(../imago/icon.png); background-size:150px, 100px;
    z-index:-0.25;
    background-repeat: no-repeat;
  }
  #d1
  {
    width:100.07%; height:5650px; background-color: #ffffff;
    position:absolute; top:30vh;
  }
  #d1> img
  {
    position: absolute;
    display:block;
    width:60vw;
    left:20vw; top:0px;
  }
  #d1> h2
  {
    position:absolute; display:inline-block; width:100vw; top: 100px;
    font-family:newyorker; font-size: 28px;
    color: #d0a115c7; font-style: italic; font-variant: small-caps;
    text-align:center; font-weight: bold; margin-top:1vh; margin-bottom: 30px;
  }
  #slideshow1
  {
    position: absolute;
    display:inline-block;
    width:80vw; height:200px;
    left:10vw; top:200px;
  }

  img.curr, img.curr1, img.curr2
  {
    display:inline-block !important;
    width:80vw; max-height:200px !important;
    position:absolute;
  }


  #slideshow1 img, #slideshow2 img, #slideshow3 img, #slideshow4 img
  {
    width:80vw; max-height:200px; display: none;
    position:absolute; z-index:0.5;
  }

  .previous, .next
  {
    position:absolute; color: #ffffff;

    width:50px; height:100px; top:50px; font-family: sans-serif;
    font-size:30px; border:none; border-radius: 0px; opacity: 0.85;
    z-index: 1;
  }
  .previous
  {
    left: -15px; background: linear-gradient(-90deg, #ffffff00,#000000);
    z-index: 1;
  }
  .next
  {
    left: calc(80vw - 35px);
    background:linear-gradient(90deg, #ffffff00,#000000);
  }
  #d1s02
  {
    display:inline-block; width:95vw;
    position: absolute; left:2.5vw; top:450px;
    text-align:justify; font-family: verdana;
    font-size: 16.5px; line-height: 19.5px;
  }

  #d1s02 p, #d1s02 blockquote
  {
    margin-bottom: 2vh;
  }
  #d1s03
  {
    position: absolute; left:2.5vw; top:1300px;
    display:inline-block; width:95vw;
  }
  #d1s03 h2, #d1s04 h2, #d1s05 h2, #d1s06 h2
  {
    position: absolute;
    display: inline-block; width:95vw;
    font-family:newyorker; font-size: 28px;
    color: #d0a115c7; font-style: italic; font-variant: small-caps;
    text-align:center; font-weight: bold; margin-top:1vh; margin-bottom:30px;
  }
  #d1s03 img
  {
    position:absolute;
    display:inline-block;
    width: 80vw; height:auto; max-height:200px;
    left: 7.5vw; top: 100px;
    border: solid; border-width:4px; border-color: #ae8610;
  }
  #d1s03 >div
  {
    position:absolute;
    top:330px;
  }
  #d1s03 p
  {
    margin-bottom: 2vh; text-align:justify; font-family: verdana;
    font-size: 16.5px; line-height: 19.5px;
  }
  #d1s04
  {
    position: absolute; left:2.5vw; top:2350px;
    display:inline-block; width:95vw;
  }
  #slideshow2, #slideshow3, #slideshow4
  {
    position: absolute;
    display:inline-block;
    width: 80vw; height:auto; height:200px;
    left: 7.5vw; top:100px;
  }
  #d1s04 >div
  {
    position:absolute;
    top:350px;
  }
  #d1s04 p, #d1s04 blockquote
  {
    margin-bottom: 2vh; text-align:justify; font-family: verdana;
    font-size: 16.5px; line-height: 19.5px;
  }
  #d1s04 blockquote
  {
    font-style: italic;
  }
  #d1s05
  {
    position: absolute;left:2.5vw; top:3800px;
    display:inline-block; width:95vw;
  }
  #d1s05 >div
  {
    position:absolute;
    top:330px;
  }
  #d1s05 p
  {
    margin-bottom: 2vh; text-align:justify; font-family: verdana;
    font-size: 16.5px; line-height: 19.5px;
  }
  
  #d1s06
  {
    position: absolute;left:2.5vw; top:5000px;
    display:inline-block; width:95vw;
  }
  #d1s06 >div
  {
    position:absolute;
    top:330px;
  }
  #d1s06 p
  {
    margin-bottom: 2vh; text-align:justify; font-family: verdana;
    font-size: 16.5px; line-height: 19.5px;
  }

  #d1 a
  {
    text-decoration:none;
    color: #9e9b04;
  }

  .Styled
  {
    font-family: newyorker; font-size: 22px; text-transform: capitalize;
  }
  .ital
  {
    font-style:italic;
  }
  footer
  {
    display:inline-block;
    width:100vw; height:10vh;
    position:relative;
    top:185vh;
    background-color:#000000;
    color: #8a8c87; font-size:11.5px; font-family:newyorker;
    text-align: center;
  }
  footer >p
  {
    margin-top:1vh;
  }
  footer p>span
  {
    color: #8a8c87;
    transition-property: all; transition-duration: 1s; transition-timing-function: ease-in;
  }
  footer p>span:hover
  {
    color: #ae8610;
  }
  footer p>img
  {
    width:18px; height:14px;
  }
}
@media only screen and (min-width:900px)
{
  html, body {
      max-width: 100%;

  }

.slideshow img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


main, footer
{
  position:relative; top:90px;
}

#submenu
{
  text-align:center;
  position:relative;
  width:93%;
  top: 2.5vh;
  left:5%;

}
#submenu >a
{
  text-decoration: none;
  box-sizing: border-box;
  width: 14vw;
  padding-top: 2vh; padding-bottom:4vh;
  padding-left: 1vw; padding-right: 1vw;
  margin:0;
  margin-left:2vw; margin-right:2vw;
  border-style: solid; border-color:#ffffff; border-width:1.5px;
  border-radius:35px;
  background-color: #1c1919; opacity:0.7;
  color: #ffffff; font-family:newyorker; font-size:11.5px;
}
#submenu >a:hover, #submenu >a:focus
{
  color: #ae8610;
  border-color: #ae8610;
  opacity: 0.9;
}
body
{  background-image:url(../imago/entire_gang.JPG);
  background-attachment: fixed;
  background-repeat: no-repeat; background-size: cover; background-position: center center;
  z-index:-1; width: 98.7vw;
}

#UpTownFunk
{
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 35px; /* Place the button 35px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */

  color: #ffffff; background-color: #000000;
  width:100px; height:100px;
  font-family: sans-serif;
  font-size:35px; border:none; border-radius: 5px;
  opacity: 0.85;
  transition-property: opacity, color;
  transition-duration: 0.5s; transition-delay: 0.2s;
  transition-timing-function: linear;
}

#UpTownFunk:hover, #UpTownFunk:focus
{
  color: #ae8610;
  opacity: 0.95;
}

#d1
{
  position: relative; background-color: #ffffff;
  top: 90.5vh; clear:both; display: inline-block;
  width:98.7vw; height: 5400px; z-index:0;
}
#d1> img
{
  position: absolute;
  display:inline-block;
  width:60vw;
  left:20vw; top:-10px;
}

#d1> h2
{
  position:absolute; display:inline-block; width:98.7vw; top: 180px;
  font-family:newyorker; font-size: 28px;
  color: #d0a115c7; font-style: italic; font-variant: small-caps;
  text-align:center; font-weight: bold; margin-top:1vh;
}

#slideshow1
{
  position: absolute;
  display:inline-block;
  width:50vw; height:500px;
  left:25vw; top:250px;
}

img.curr, img.curr1, img.curr2
{
  display:inline-block !important;
  width:50vw; max-height:500px !important;
  position:absolute;
}


#slideshow1 img, #slideshow2 img, #slideshow3 img, #slideshow4 img
{
  width:50vw; max-height:500px; display: none;
  position:absolute;
}

.previous, .next
{
  position:absolute; color: #ffffff; background-color: #000000;
  width:100px; height:100px; top:200px; font-family: sans-serif;
  font-size:35px; border:none; border-radius: 5px; opacity: 0.85;
  z-index: 1;
}
.previous {
  left: -50px;
}
.next {
  left: calc(50vw - 50px);
}
#d1s02
{
  display:inline-block; width:80vw;
  position: absolute; left:9.5vw; top:790px;
  text-align:justify; font-family: verdana;
  font-size: 16.5px; line-height: 19.5px;
}

#d1s02 p, #d1s02 blockquote
{
  margin-bottom: 2vh;
}


#d1s03
{
  position: absolute; left:9.5vw; top:1200px;
  display:inline-block; width:80vw;
}

#d1s03 h2, #d1s04 h2, #d1s05 h2, #d1s06 h2
{
  position: absolute;
  display: inline-block; width:80vw;
  font-family:newyorker; font-size: 28px;
  color: #d0a115c7; font-style: italic; font-variant: small-caps;
  text-align:center; font-weight: bold; margin-top:1vh;
}
#d1s03 img
{
  position:absolute;
  display:inline-block;
  width: 50vw; height:auto; max-height:500px;
  left: 14vw; top: 85px;
  border: solid; border-width:4px; border-color: #ae8610;
}
#d1s03 >div
{
  position:absolute;
  top:630px;
}
#d1s03 p
{
  margin-bottom: 2vh; text-align:justify; font-family: verdana;
  font-size: 16.5px; line-height: 19.5px;
}


#d1s04
{
  position: absolute;left:9.5vw; top:2150px;
  display:inline-block; width:80vw;
}
#slideshow2, #slideshow3, #slideshow4
{
  position: absolute;
  display:inline-block;
  width:50vw; height:500px;
  left:14vw; top:100px;
}
#d1s04 >div
{
  position:absolute;
  top:680px;
}
#d1s04 p, #d1s04 blockquote
{
  margin-bottom: 2vh; text-align:justify; font-family: verdana;
  font-size: 16.5px; line-height: 19.5px;
}
#d1s04 blockquote
{
  font-style: italic;
}

#d1s05
{
  position: absolute;left:9.5vw; top:3350px;
  display:inline-block; width:80vw;
}
#d1s05 >div
{
  position:absolute;
  top:680px;
}
#d1s05 p
{
  margin-bottom: 2vh; text-align:justify; font-family: verdana;
  font-size: 16.5px; line-height: 19.5px;
}
#d1s06
{
  position: absolute;left:9.5vw; top:4400px;
  display:inline-block; width:80vw;
}
#d1s06 >div
{
  position:absolute;
  top:680px;
}
#d1s06 p
{
  margin-bottom: 2vh; text-align:justify; font-family: verdana;
  font-size: 16.5px; line-height: 19.5px;
}

#d1 a
{
  text-decoration:none;
  color: #9e9b04;
}

#d1 a:hover, #d1 a:focus
{
  color: #c7c312;
}
.Styled
{
  font-family:newyorker;
  font-size:22px;
}
.ital
{
  font-style:italic;
}
footer
{
  display:inline-block;
  width:98.7vw; height:8vh;
  position:relative;
  top:100vh;
  background-color:#000000;
  color: #8a8c87; font-size:12.5px; font-family:newyorker;
  text-align: center;
}
footer >p
{
  margin-top:1vh;
}
footer p>span
{
  color: #8a8c87;
  transition-property: all; transition-duration: 1s; transition-timing-function: ease-in;
}
footer p>span:hover
{
  color: #d0a115c7;
}
footer p>img
{
  width:1.3vw; height:2vh;
}

}
