@font-face
{
  font-family: newyorker;
  src:url(../fonts/newyork.TTF);
}
@media only screen and (max-width:900px)
{
html, body
{
  max-width: 100%;

}
header
{
  display:inline-block; position:fixed;
  width:100vw; height: 110px; top:0vh; left:0vw;
  background-color:#000000; clear:both; text-transform: uppercase;
  z-index:10000;
}
#s1alt
{
  position:absolute; display:inline-block;
  visibility: visible;
  width:125px; height:65px;
  left:3vw; top:5px;
  margin-right:10vw;
}
#s1alt img
{
  width:125px; height:65px; visibility: visible;
}
#s1
{
  display:none ;
}
#s2
{
  position:absolute; top: 15px;
  left: 200px; width: 75px; height: 60px;
}
#s2 img
{
  width: 75px; height: 60px;
}
h1
{ /*display:inline-block;
  float:left; margin-top:3vh;margin-left:20vw;
  width: 200px; height:25px;
  font-family:newyorker, Garamond; color:#ae8610; font-size: 20.5px;
  font-style: oblique; text-align:center; border:hidden;*/
  display:none;
}
#h1
{
  display:none ;
}
#h1 img
{
  display:none;
}
#main-menu
{
  position:absolute;
  right:3vw; top: 75px;
  display:inline-block;
  width:94vw;
}
#main-menu a
{
  display:inline-block;
  box-sizing: border-box;
  width: 60px; padding-top:11.5px; padding-bottom:11.5px;
  margin-right:5px; /*border-style: solid; border-radius: 5px; border-color: #ffffff;*/
  font-family:newyorker; font-size:10px; color: #ffffff; /*border-width: 1px;*/
  text-align: center; text-decoration: none; /*background-color: #373631e8;*/

}
#main-menu a:first-child
{
  margin-left:0vw;
}
#main-menu a:last-child
{
  border:none; width:0.5px; height:0.5px; margin-right:0px; background-color: #000000;
  display:none;
}
#main-menu a:last-child>img
{
  position: absolute;
  top: -20px; right:-2vw;
  padding: 0; width: 30px; height: 30px;
  border-style: solid; border-color:#ffffff; border-radius: 50%; border-width: 1.5px;

}
.active
{
  color:#ae8610 !important;
}
}

@media only screen and (min-width:900px), (orientation: landscape)
{
  html, body
  {
      max-width: 99vw;

  }
header
{
    width: 100vw; height:90px; background-color:#000000; box-sizing: border-box;
    z-index:10000; text-align:center; position:fixed; clear:both; text-transform: uppercase;
    /*padding:2vh,5vw,2vh,5vw;*/

}


#s1, #s3, #s4
{
  display:inline-block; float:left;
}
#s1
{
  width: 65px; height: 80px; padding-top: 0.5vh; margin-top:0.5vh; padding-right: 2px; padding-bottom: 2vh;
  border-style: hidden; margin-right:1vw; padding-left: 40px;
}
#s2
{
  display:none;
}
#s1 > img
{
  width: 80px; height: 80px;
}

#s3
{
  display:inline-block;
  width:300px; margin-left:1vw; max-height:140px;
  margin-right:1vw; margin-top: -2.0vh; padding-bottom: 2vh;
}
#s3 img
{
  width:300px; max-height:140px;
}
#s4
{
  width: 75px; height: 60px; padding-top: 18px; padding-bottom: 2vh;
  border-style: hidden; margin-right:12.5px; margin-left: 1vw;
}
#s4  img
{
  width: 75px !important; height: 60px !important;
}
a > img
{
  width: 6vw; height: 10vh;
}
  
#s5 img{
	position: relative;
	left: 18vw;
	top: 1vw;
}
  
#s6 img{
	position: relative;
	left: 18vw;
	top: 1.5vw;
}
  
.sidepanel{
  	width: 0;
  	position: fixed;
  	z-index: 1;
  	height: 100vh;
  	top: 0;
  	right: 0;
  	background-color: #111;
  	overflow-x: hidden;
  	transition: 0.5s;
  	padding-top: 60px;
}

.sidepanel a {
  	padding: 25px 8px 8px 32px;
  	text-decoration: none;
  	font-size: 18px;
  	font-family: newyorker;
  	color: #ffffff;
  	display: block;
  	transition: 0.3s;
} 

.sidepanel a:hover, .sidepanel a:focus {
  	color: #ae8610;
  	transform:translateY(-0.25vh);
}

.sidepanel .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-family: serif;
	font-size: 36px;
	color: #ffffff;
	transform:translateY(0vh);
}
  
.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
	position: relative;
	left: 18vw;
}
  
.openbtn:hover {
	background-color:#444;
}
  
#active
{
  color: #ae8610;
}
#active:hover, #active:focus
{
  transform:translateY(0.0vh);
}
#cross:hover, #cross:focus
{
	color: #ffffff;
	transform:translateY(0.0vh);
}
}
