@font-face
{
  font-family: newyorker;
  src:url(../fonts/newyork.TTF);
}
@media only screen and (max-width:321px)
{
html, body
{
  max-width: 100%;

}
header
{
  display:inline-block; position:fixed;
  width:100vw; height: 110px; top:0vh; left:0vw;
  background-color:#000000; clear:both; text-transform: uppercase;
  z-index:10000;
}
#s1alt
{
  position:absolute; display:inline-block;
  visibility: visible;
  width:125px; height:65px;
  left:3vw; top:5px;
  margin-right:10vw;
}
#s1alt img
{
  width:125px; height:65px; visibility: visible;
}
#s1
{
  display:none ;
}
#s2
{
  position:absolute; top: 15px;
  left: 200px; width: 75px; height: 60px;
}
#s2 img
{
  width: 75px; height: 60px;
}
h1
{ /*display:inline-block;
  float:left; margin-top:3vh;margin-left:20vw;
  width: 200px; height:25px;
  font-family:newyorker, Garamond; color:#ae8610; font-size: 20.5px;
  font-style: oblique; text-align:center; border:hidden;*/
  display:none;
}
#h1
{
  display:none ;
}
#h1 img
{
  display:none;
}
#main-menu
{
  position:absolute;
  right:3vw; top: 75px;
  display:inline-block;
  width:94vw;
}
#main-menu a
{
  display:inline-block;
  box-sizing: border-box;
  width: 60px; padding-top:11.5px; padding-bottom:11.5px;
  margin-right:5px; /*border-style: solid; border-radius: 5px; border-color: #ffffff;*/
  font-family:newyorker; font-size:10px; color: #ffffff; /*border-width: 1px;*/
  text-align: center; text-decoration: none; /*background-color: #373631e8;*/

}
#main-menu a:first-child
{
  margin-left:0vw;
}
#main-menu a:last-child
{
  border:none; width:0.5px; height:0.5px; margin-right:0px; background-color: #000000;
  display:none;
}
#main-menu a:last-child>img
{
  position: absolute;
  top: -20px; right:-2vw;
  padding: 0; width: 30px; height: 30px;
  border-style: solid; border-color:#ffffff; border-radius: 50%; border-width: 1.5px;

}
.active
{
  color:#ae8610 !important;
}
}
@media only screen and (min-width:321px) and (max-width:900px)
{
html, body
{
  max-width: 100%;

}
header
{
  display:inline-block; position:fixed;
  width:100vw; height: 18vh; top:0vh; left:0vw;
  background-color:#000000; clear:both; text-transform: uppercase;
  z-index:10000;
}
#s1alt
{
  position:absolute; display:inline-block;
  visibility: visible;
  width:125px; height:65px;
  left:3vw; top:5px;
  margin-right:10vw;
}
#s1alt img
{
  width:125px; height:65px; visibility: visible;
}
#s1
{
  display:none ;
}
/*#s2
{
  position:absolute; top: 10px;
  left: 200px; width: 75px; height: 60px;
}
#s2 img
{
  width: 75px; height: 60px;
}*/
#s2
{
  position:absolute; top: 15px;
  left: 200px; width: 75px; height: 60px;
}
#s2 img
{
  width: 75px; height: 60px;
}
h1
{ /*display:inline-block;
  float:left; margin-top:3vh;margin-left:20vw;
  width: 200px; height:25px;
  font-family:newyorker, Garamond; color:#ae8610; font-size: 20.5px;
  font-style: oblique; text-align:center; border:hidden;*/
  display:none;
}
#h1
{
  display:none ;
}
#h1 img
{
  display:none;
}
#main-menu
{
  position:absolute;
  right:3vw; top: 12vh;
  display:inline-block;
  width:94vw;
}
#main-menu a
{
  display:inline-block;
  box-sizing: border-box;
  width: 60px; padding-top:11.5px; padding-bottom:11.5px;
  margin-right:15px; /*border-style: solid; border-radius: 5px; border-color: #ffffff;*/
  font-family:newyorker; font-size:10px; color: #ffffff; /*border-width: 1px;*/
  text-align: center; text-decoration: none; /*background-color: #373631e8;*/

}
#main-menu a:first-child
{
  margin-left:0vw;
}
#main-menu a:last-child
{
  border:none; width:0.5px; height:0.5px; background-color: #000000;
}
#main-menu a:last-child>img
{
  position: absolute;
  top: -5.2vh; right:0;
  padding: 0; width: 40px; height: 40px;
  border-style: solid; border-color:#ffffff; border-radius: 50%; border-width: 1.5px;

}
.active
{
  color:#ae8610 !important;
}
}

@media only screen and (min-width:900px), (orientation: landscape)
{
  html, body
  {
      max-width: 99vw;

  }
header
{
    width: 100vw; height:90px; background-color:#000000; box-sizing: border-box;
    z-index:10000; text-align:center; position:fixed; clear:both; text-transform: uppercase;
    /*padding:2vh,5vw,2vh,5vw;*/

}

#main-menu
{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

#s1, #h1, #s2
{
  display:inline-block; float:left;
}
#s1
{
  width: 85px; height: 80px; padding-top: 0.5vh; margin-top:0.5vh; padding-right: 2px; padding-bottom: 2vh;
  border-style: hidden; margin-right:1vw; padding-left: 20px;
}
#s1alt
{
  display:none;
}
#s1 > img
{
  width: 85px; height: 80px;
}

header >h1
{
  /*font-family:newyorker; color:#ae8610; font-size: 24.5px; font-style: oblique;
  text-align:center; border:hidden; width:25vw; height:6vh; margin-left:1vw;
  margin-right:1vw; padding-top: 4.5vh; padding-bottom: 2vh;*/
  display:none;

}
#h1
{
  display:inline-block;
  width:300px; margin-left:1vw; max-height:140px;
  margin-right:1vw; margin-top: -2.0vh; padding-bottom: 2vh;
}
#h1 img
{
  width:300px; max-height:140px;
}
#s2
{
  width: 75px; height: 60px; padding-top: 18px; padding-bottom: 2vh;
  border-style: hidden; margin-right:12.5px; margin-left: 1vw;
}
#s2  img
{
  width: 75px !important; height: 60px !important;
}
a > img
{
  width: 2.0vw; height: 4.5vh;
}
nav >a
{
  position: relative;
  display:inline-block; float:left; box-sizing: content-box;
  width: 60px; height:14px;  margin-right:1.5vw;margin-left: 1.5vw;
  font-family:newyorker; font-size:14px; color: #ffffff;
  transition: all,transform; transition-duration: 0.3s; transition-timing-function: ease-in;
}
nav >a:last-child
{
  margin: 0;
}
nav >a:last-child>img
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  padding: 0; width: 40px; height: 40px;
  border-style: solid; border-color:#ffffff; border-radius: 50%; border-width: 1.5px;

}

nav >a:first-child
{
  margin-left:20vw;
}


nav >a:hover, nav >a:focus
{
  color: #ae8610;
  transform:translateY(-0.25vh);
  border-color: #d0a115c7;
}


.active
{
  color: #ae8610;
}
.active:hover, .active:focus
{
  transform:translateY(0.0vh);
}
.active:hover, .active:focus
{
  transform:translateY(0.0vh);
}
}
