@font-face {
  font-family: newyorker;
  src:url(fonts/newyork.TTF) format('truetype');
}

/*@media all and (min-width:1000px) and (max-width:1400px)
{
  header
  {
      width: 100vw; height:12.5vh; background-color:#000000; box-sizing: border-box;
      z-index:1; text-align:center; position:fixed; clear:both; text-transform: uppercase;
      /*padding:2vh,5vw,2vh,5vw;*/
/*
  }
  #s1, h1, #s2
  {
    display:inline-block; float:left;
  }
  #s1
  {
    width: 7.5vw; height: 7.5vh; padding-top: 2.5vh; padding-right: 2px; padding-bottom: 2vh;
    border-style: hidden; margin-right:1vw; padding-left: 20px;
  }
  #s1 > img
  {
    width: 7.5vw; height: 7.5vh;
  }
  header >h1
  {
    font-family:newyorker; color:#9f7e1ced; font-size: 24.5px; font-style: oblique;
    text-align:center; border:hidden; width:25vw; height:6vh; margin-left:1vw;
    margin-right:1vw; padding-top: 4.5vh; padding-bottom: 2vh;

  }
  #s2
  {
    width: 7.5vw; height: 7.5vh; padding-top: 3.5vh; padding-bottom: 2vh;
    border-style: hidden; margin-right:12.5px; margin-left: 1vw;
  }
  #s2 > img
  {
    width: 3.5vw; height: 6vh;
  }
  a > img
  {
    width: 2.0vw; height: 4.5vh;
  }
  nav >a
  {
    display:inline-block; float:left; box-sizing: content-box;
    width: 60px; height:14px; padding-top: 5.5vh; padding-bottom: 2vh; margin-right:1.5vw;margin-left: 1.5vw;
    font-family:newyorker; font-size:14px; color: #ffffff;
    transition: color,transform; transition-duration: 0.3s; transition-timing-function: ease-in;
  }
  nav >a:last-child
  {
    margin-right:0.5vw; margin-left: 2vw; padding: 0; width: 3.0vw; height:6vh;
    border-style: solid; border-color:#ffffff; border-radius:1.65vw; border-width: 1px;
    padding-top:1.05vh; margin-top:2.6vh; padding-bottom: 0.25vh;
  }

  nav >a:first-child
  {
    margin-left:2w;
  }


  nav >a:hover, nav >a:focus
  {
    color: #d0a115c7;
    transform:translateY(-0.25vh);
    border-color: #d0a115c7;
  }

  .active
  {
    color: #d0a115c7;
  }
  .active:hover, .active:focus
  {
    transform:translateY(0.0vh);
  }
}
*/
@media only screen and (max-width:1920px)
{
  html, body {
      max-width: 99vw;

  }
header
{
    width: 100vw; height:12.5vh; background-color:#000000; box-sizing: border-box;
    z-index:10000; text-align:center; position:fixed; clear:both; text-transform: uppercase;
    /*padding:2vh,5vw,2vh,5vw;*/

}

#main-menu {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
}
#s1, h1, #s2
{
  display:inline-block; float:left;
}
#s1
{
  width: 7.5vw; height: 7.5vh; padding-top: 2.5vh; padding-right: 2px; padding-bottom: 2vh;
  border-style: hidden; margin-right:1vw; padding-left: 20px;
}
#s1 > img
{
  width: 7.5vw; height: 7.5vh;
}
header >h1
{
  font-family:newyorker,Garamond, cursive; color:#ae8610; font-size: 24.5px; font-style: oblique;
  text-align:center; border:hidden; width:25vw; height:6vh; margin-left:1vw;
  margin-right:1vw; padding-top: 4.5vh; padding-bottom: 2vh;

}
#s2
{
  width: 7.5vw; height: 7.5vh; padding-top: 2.4vh; padding-bottom: 2vh;
  border-style: hidden; margin-right:12.5px; margin-left: 1vw;
}
#s2  img
{
  width: 75px; height: 60px;
}
a > img
{
  width: 2.0vw; height: 4.5vh;
}
nav >a
{
  position: relative;
  display:inline-block; float:left; box-sizing: content-box;
  width: 60px; height:14px;  margin-right:1.5vw;margin-left: 1.5vw;
  font-family:newyorker; font-size:14px; color: #ffffff;
  transition: all,transform; transition-duration: 0.3s; transition-timing-function: ease-in;
}
nav >a:last-child
{
  margin: 0;
}
nav >a:last-child>img
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  padding: 0; width: 40px; height: 40px;
  border-style: solid; border-color:#ffffff; border-radius: 50%; border-width: 1.5px;

}

nav >a:first-child
{
  margin-left:20vw;
}


nav >a:hover, nav >a:focus
{
  color: #d0a115c7;
  transform:translateY(-0.25vh);
  border-color: #d0a115c7;
}


.active
{
  color: #d0a115c7;
}
.active:hover, .active:focus
{
  transform:translateY(0.0vh);
}
main, footer
{
  position:relative; top:12.5vh;
}
body
{  background-image:url(../imago/cover.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat; background-size: cover; background-position: top center;
  z-index:-1;
}
#d1
{
  position: relative; background-color: #ffffff;
  top: 92.5vh; clear:both; display: inline-block;
  width:99vw; height: 90vh;
}
.left
{
  display:inline-block; position: absolute;
  width: 25vw; height: 60vh; left:5vw; top: 15vh;
}
.left >img
{
  display:inline-block; text-align:center
  width: 20vw; height: 60vh;
}
#d1> section
{
  display:inline-block; position: absolute;
  width: 45vw; top: 8vh; left: 47.5vw; background-color: #ffffff;
}

h2
{
  font-family:newyorker; font-size: 28px;
  color: #d0a115c7; font-style: italic; font-variant: small-caps;
  margin-bottom: 3vh; text-align:center; font-weight: bold;
}
#d1 > section >p
{
  margin-bottom: 2vh; font-family:verdana, arial; text-align: justify;
  font-size: 16.5px; line-height: 18.5px;
}
#d1 > section >p::first-letter
{
  font-family: newyorker; font-size: 22px; text-transform: capitalize;
}
#d1 > section >h6
{
  margin-bottom: 2vh; font-family:verdana, arial; text-align: justify;
  font-size: 16.5px; line-height: 18.5px;
}
#d1 > section >h6::first-letter
{
  font-family: newyorker; font-size: 22px; text-transform: capitalize;
}
#d2
{
  display:inline-block; width:99vw; height: 40vh;
  position: relative; top:90.0vh; background-color:#ffffff;
}
#d2> div
{
   display:inline-block; box-sizing: border-box;
   width:15vw; height:20vh; border-style:solid; border-width:1.3px;
   border-radius:8px; border-color: #040404c7;
   transition-property: all; transition-duration: 0.5s; transition-timing-function: linear;

 }
#e1
{
  position:absolute;
  top: 10vh; left: 20vw;
}
#e2
{
  position:absolute;
  top: 10vh; left: 45vw;
}
#e3
{
  position:absolute;
  top: 10vh; left: 70vw;
}
#e1 >span:first-child, #e2 >span:first-child, #e3 >span:first-child
{
  position:absolute;
  left: 2vw; top:3vh;
  width: 11vw; height:6vh;
  text-align:center;
  font-family:verdana; font-size:16px;
}
#e1 >span:last-child, #e2 >span:last-child, #e3 >span:last-child
{
  position:absolute;
  left: 2vw; top:12vh;
  width: 11vw; height:6vh;
  text-align:center;
  font-family:verdana; font-size:15px;
}
#d2> div:hover,#d2> div:focus
{
  border-width: 1.99px;
  border-color: #ae8610;
}
#d3
{
  display:inline-block; width:99vw; height: 70vh;
  position: relative; top:90.0vh; background-color:#ffffff;
}
#d3 >aside
{
  display:inline-block; position: absolute;
  width: 25vw; height: 60vh; left:65vw; top: 5vh;
}
#d3 >aside>img
{
  width:20vw; height: 65vh;
}
#d3 >section
{
  position: absolute; display:inline-block;
  width: 55vw; height:35vh; left: 5vw;
}
#d3>section>h2
{
  margin-top:15vh;
}
section>article
{
  display: inline-block;
 width:55vw; height:35vh; margin-top: 10vh;
}
article>span
{
  width:55vw; height:13vh;
  text-align:center; display: inline-block;
  margin-top:2vh;
  font-size: 20px;
  font-family: verdana;

}
article>span:last-child
{
  margin-top:2vh;
  font-size:20px;
}
article>span>a
{
  font-weight:normal;
  color:#666764;
}
article>span>a:visited
{
  color:#666764;
}
article>span>a:hover, article>span>a:focus
{
  color:#9f7e1ced;
}
footer
{
  display:inline-block;
  width:99vw; height:8vh;
  position:relative;
  top:100vh;
  background-color:#000000;
  color: #8a8c87; font-size:12.5px; font-family:newyorker;
  text-align: center;
}
footer >p
{
  margin-top:1vh;
}
footer >p>span
{
  color: #8a8c87;
  transition-property: all; transition-duration: 1s; transition-timing-function: ease-in;
}
footer >p>span:hover
{
  color: #d0a115c7;
}
footer>p>img
{
  width:1.3vw; height:2vh;
}
}
