@font-face {
  font-family: newyorker;
  src:url(fonts/newyork.TTF) format('truetype');
}

@media all and (max-width:900px)
{
  main
  {
    position: relative;
    top:100vh; height:2000px;
  }
  body
  {  background-image:url(../imago/coveralt.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat; background-size: 100% auto; background-position: top center;
    z-index:-1;
  }
  .left
  {
    display:none;
  }
  #BackgroundImg
  {
    position:relative; top:-35vh; opacity:0.4;
    display:inline-block; height: 160px; left: calc(50vw - 70px); width:180px;
    background-image:url(../imago/icon.png); background-size:150px, 100px;
    z-index:-0.25;
    background-repeat: no-repeat;
  }
  #tempmsg
  {
    display:none;
  }
  #cont
  {
    position: relative; background-color: #ffffff;
    top: 0vh; clear:both; display: inline-block;
    width:100.07%; height: 2100px;
  }
  #d1
  {
    position:absolute;display:inline-block; width:95vw; height:auto;
    left:2.5vw; clear:both; float:left;
  }
  h2
  {
    font-family:newyorker; font-size: 28px;
    color: #d0a115c7; font-style: italic; font-variant: small-caps;
    margin-bottom: 30px; text-align:center; font-weight: bold; margin-top:1vh;
  }
  #d1 p
  {
    margin-bottom: 2vh; font-family:verdana, arial; text-align: justify;
    font-size: 16.5px; line-height: 19.5px;
  }
  h6
  {
    margin-bottom: 2vh; font-family:verdana, arial; text-align: justify;
    font-size: 16.5px; line-height: 19.5px;
  }
  #d1 > section >p::first-letter, h6::first-letter
  {
    font-family: newyorker; font-size: 22px; text-transform: capitalize;
  }

  #d2
  {
    position:absolute;display:inline-block; width:95vw; height:auto;
    left:2.5vw; top:900px;
  }
  #d2> div
  {
     display:inline-block; box-sizing: border-box;
     width:90vw; height:130px; border-style:solid; border-width:1px;
     border-radius:8px; border-color: #040404c7;
     transition-property: all; transition-duration: 0.5s; transition-timing-function: linear;
     position:absolute; left: 2.5vw;
   }
   #d2> div:hover, #d2> div:focus
   {
     border-color: #ae8610;
   }
  #e1
  {
  }
  #e2
  {
    top: 215px;
  }
  #e3
  {
    top: 370px;
  }
  #e1 >span:first-child, #e2 >span:first-child, #e3 >span:first-child
  {
    position:absolute;
    left: 5vw; top:20px;
    width: 80vw; height:auto;
    text-align:center;
    font-family:sans-serif; font-size:20px;
  }
  #e2>span:nth-child(2)
  {
    position:absolute;
    left: 5vw; top:60px;
    width: 80vw; height:auto;
    text-align:center;
    font-family:sans-serif; font-size:15px;
  }
  
  #e1 >span:last-child, #e2 >span:last-child, #e3 >span:last-child
  {
    position:absolute;
    left: 5vw; top:80px;
    width: 80vw; height:auto;
    text-align:center;
    font-family:sans-serif; font-size:17px;
  }
  #d2> span
  {
    margin-bottom:15px; display:inline-block; width:95vw; height:auto; font-family: sans-serif;
  }
  span>a
  {
    text-decoration:none;
    color:#9e9b04;
  }

  #d3
  {
    position:absolute;display:inline-block; width:95vw; height:auto;
    left:2.5vw; top:1450px;
  }
  #d3 article
  {
    display:inline-block; width:95vw;
    text-align:justify;
    font-family:verdana, arial; text-align: justify;
    font-size: 19.5px; line-height: 29.5px;
  }
  #d3 article> span
  {
    margin-bottom:15px; display:inline-block; width:95vw; height:auto;
  }
  article>span>a
  {
    text-decoration:none;
    color:#9e9b04;
  }
  #d3 aside
  {
    position:absolute; top: 370px; left:35vw;
    display:inline-block; width: 100px; height:auto;

  }
  #d3 aside>img
  {
    width:100px; height:140px;
  }

  footer
  {
    display:inline-block;
    width:100vw; height:10vh;
    position:relative;
    top:133vh;
    background-color:#000000;
    color: #8a8c87; font-size:11.5px; font-family:newyorker;
    text-align: center;
  }
  footer >p
  {
    margin-top:1vh;
  }
  footer >p>span
  {
    color:#8a8c87
    transition-property: all; transition-duration: 1s; transition-timing-function: ease-in;
  }
  footer >p>span:hover
  {
    color: #ae8610;
  }
  footer>p>img
  {
    width:18px; height:14px;
  }
}
@media only screen and (min-width:900px)
{

main, footer
{
  position:relative; top:90px;
}
body
{  background-image:url(../imago/cover.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat; background-size: cover; background-position: top center;
  z-index:-1;
}
#tempmsg
{
  display:inline-block; position: relative;
  width:50vw; height:100px; left:25vw;
  top: 30vh; z-index:-0.5;
  text-align:center; padding-top:45px; border-radius: 5px;
  color:#ffffff; background-color: #000000; opacity: 0.75;
  font-size:35px; font-family: sans-serif;
}

#d1
{
  position: relative; background-color: #ffffff;
  top: 92.5vh; clear:both; display: inline-block;
  width:99vw; height: 90vh;
}
.left
{
  display:inline-block; position: absolute;
  width: 25vw; height: 60vh; left:5vw; top: 15vh;
}
.left >img
{
  display:inline-block; text-align:center
  width: 20vw; height: 60vh;
}
#d1> section
{
  display:inline-block; position: absolute;
  width: 45vw; top: 8vh; left: 47.5vw; background-color: #ffffff;
}

h2
{
  font-family:newyorker; font-size: 28px;
  color: #d0a115c7; font-style: italic; font-variant: small-caps;
  margin-bottom: 3vh; text-align:center; font-weight: bold;
}
#d1 > section >p
{
  margin-bottom: 2vh; font-family:verdana, arial; text-align: justify;
  font-size: 16.5px; line-height: 18.5px;
}
#d1 > section >p::first-letter
{
  font-family: newyorker; font-size: 22px; text-transform: capitalize;
}
#d1 > section >h6
{
  margin-bottom: 2vh; font-family:verdana, arial; text-align: justify;
  font-size: 16.5px; line-height: 18.5px;
}
#d1 > section >h6::first-letter
{
  font-family: newyorker; font-size: 22px; text-transform: capitalize;
}

#d2
{
  display:inline-block; width:99vw; height: 40vh;
  position: relative; top:90.0vh; background-color:#ffffff;
}
#d2> div
{
   display:inline-block; box-sizing: border-box;
   width:45vw; height:20vh; border-style:solid; border-width:1.3px;
   border-radius:8px; border-color: #040404c7;
   transition-property: all; transition-duration: 0.5s; transition-timing-function: linear;

 }
#e1
{
  position:absolute;
  top: 10vh; left: 20vw;
}
#e2
{
  position:absolute;
  top: 10vh; left: 45vw; width: 45vw;
}
#e3
{
  position:absolute;
  top: 10vh; left: 70vw;
}
#e1 >span:first-child, #e3 >span:first-child
{
  position:absolute;
  left: 2vw; top:3vh;
  width: 11vw; height:6vh;
  text-align:center;
  font-family:verdana; font-size:16px;
}

#e2 >span:nth-child(1)
{
  position:absolute;
  left: 2vw; top:3vh;
  width: 40vw; height:6vh;
  text-align:center;
  font-family:verdana; font-size:16px;
}

#e1 >span:last-child, #e3 >span:last-child
{
  position:absolute;
  left: 2vw; top:12vh;
  width: 11vw; height:6vh;
  text-align:center;
  font-family:verdana; font-size:15px;
}

#e2 >span:nth-child(2)
{
  position:absolute;
  left: 2vw; top:7vh;
  width: 40vw; height:6vh;
  text-align:center;
  font-family:verdana; font-size:15px;
}
  
#e2 >span:nth-child(3)
{
  position:absolute;
  left: 2vw; top:12vh;
  width: 40vw; height:6vh;
  text-align:center;
  font-family:verdana; font-size:15px;
}
  
#d2> div:hover,#d2> div:focus
{
  border-width: 1.99px;
  border-color: #ae8610;
}
#d2 >span
{
  width:55vw; height:10vh;
  text-align:center; display: inline-block;
  margin-top:2vh;
  font-size: 20px;
  font-family: verdana;
}

#d2>span>a
{
  font-weight:normal;
  color:#9e9b04; text-decoration: none;
}
#d2>span>a:visited
{
  color:#9e9b04;
}
#d2>span>a:hover, article>span>a:focus
{
  color: #c7c312;
}
#d3
{
  display:inline-block; width:99vw; height: 70vh;
  position: relative; top:90.0vh; background-color:#ffffff;
}
#d3 >aside
{
  display:inline-block; position: absolute;
  width: 25vw; height: 60vh; left:65vw; top: 5vh;
}
#d3 >aside>img
{
  width:20vw; height: 65vh;
}
#d3 >section
{
  position: absolute; display:inline-block;
  width: 55vw; height:35vh; left: 5vw;
}
#d3>section>h2
{
  margin-top:10vh;
}
section>article
{
  display: inline-block;
 width:55vw; height:35vh; margin-top: 8vh;
}
article>span
{
  width:55vw; height:10vh;
  text-align:center; display: inline-block;
  margin-top:2vh;
  font-size: 20px;
  font-family: verdana;

}

article>span>a
{
  font-weight:normal;
  color:#9e9b04; text-decoration: none;
}
article>span>a:visited
{
  color:#9e9b04;
}
article>span>a:hover, article>span>a:focus
{
  color: #c7c312;
}
footer
{
  display:inline-block;
  width:99vw; height:10vh;
  position:relative;
  top:100vh;
  background-color:#000000;
  color: #8a8c87; font-size:12.5px; font-family:newyorker;
  text-align: center;
}
footer >p
{
  margin-top:1vh;
}
footer >p>span
{
  color: #8a8c87;
  transition-property: all; transition-duration: 1s; transition-timing-function: ease-in;
}
footer >p>span:hover
{
  color: #d0a115c7;
}
footer>p>img
{
  width:1.3vw; height:2vh;
}
}
