@font-face {
  font-family: newyorker;
  src:url(fonts/newyork.TTF);
}
@media only screen and (max-width:900px)
{
 main, footer
  {
    position:relative; top: 120.5vh;
  }
 main
  {
    height:1950px; background-color: #ffffff; z-index:0;
  }
 body
 {
  background-image:url(../imago/OPAC/OPAC_CoverMobil2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat; background-size: 100% auto;
  background-position: top center;
  z-index:-1;
 }
 #submenu
 {

   position:relative;
   width:40%; height:10vh;
   left:27%; z-index:-0.5;
   top: -95vh;
 }

 #submenu >a
 {
   position:absolute;
   text-align: center;
   text-decoration: none;
   box-sizing: border-box;
   width: 42vw; height:7vh;
   padding-top: 2.5vh; padding-bottom:3vh;
   padding-left: 1vw; padding-right: 1vw;
   margin:0;
   margin-left: 2vw; margin-right: 2vw;
   border-style: solid; border-color: #ae8610; border-width:0.5px;
   border-radius:35px;
   background-color: #1c1919; opacity:0.6;
   font-family:newyorker; font-size:11.5px;color: #ffffff;
 }

 #BackgroundImg
 {
   position:relative; top:-65vh; opacity:0.7;
   display:inline-block; height: 160px; left: calc(50vw - 70px); width:180px;
   background-image:url(../imago/icon.png); background-size:150px, 100px;
   z-index:-0.25;
   background-repeat: no-repeat;
 }
 #d1
 {
   position: relative;
   top: -9.5vh; clear:both; display: inline-block;
   width:99vw;
 }
 #d1> img
 {
   position: absolute;
   display:inline-block;
   width:60vw;
   left:20vw; top: -160px ;
 }

 #Intro, #Links, #CatNap
 {
   position: absolute; left:2.5vw; width:95vw;
   height:auto;
 }
 #Intro h2
 {
   position:absolute; display:inline-block; width:95vw; top: -60px;
   font-family:newyorker; font-size: 28px;
   color: #d0a115c7; font-style: italic; font-variant: small-caps;
   text-align:center; font-weight: bold; margin-top:1vh; margin-bottom: 30px;
 }

#Cat1
{
  position:absolute; display: block;
  left:1.5vw; width: 90vw; height:105vw;
}

#Intro>p
{
  position: absolute; display: block;
  margin-bottom: 2vh; text-align:justify; font-family: verdana;
  font-size: 16.5px; line-height: 19.5px;
  top: 450px;
}

#Spot3
{
  position: absolute; display: inline-block;
  width: 45vw; height:42vw;
  left:-15vw; top: 580px;
}

#Links
{
  top:1050px;
}

#Links a
{
  display:inline-block;
  position:absolute;
  border-style:solid; border-width:1.5px;
  text-decoration:none;
  border-radius:0px; border-color: #9e9b04;
  transition-property: opacity, color;
  transition-duration: 0.5s; transition-delay: 0.2s;
  transition-timing-function: linear;
  text-align:center; color: #9e9b04; font-family:verdana;
  background-color: #ffffff; opacity:0.55;
  font-size: 28px; line-height:19px;
  margin:15px, 0px;
}

#Links a:hover, #Links a:focus
{
  border-color: #a1d015;
  color: #a1d015; opacity: 0.80;
}

#Spot1
{
  position: absolute; display: inline-block;
  width: 55vw; height:55.7vw;
  left:40vw; top: -120px;
}

#Catalogue
{
  padding: 30px 0px;
  width:70vw;
  top:10px;
  left:12vw;
}

#Form
{
  padding: 30px 0px;
  width:70vw;
  left: 12vw;
  top: 120px
}

#Spot2
{
  position: absolute; display: inline-block;
  width:38vw; height:36.5vw;
  left:10vw; top:150px;
}

#CatNap
{
  top: 1450px;
}

#Cat2
{
  position: absolute;
  width: 80vw; height: 65vw;
  left: 7.5vw;
}
#Spot4
{
  position: absolute;
  width:25vw; height:24.1vw;
  left:72vw; top: 260px;
}
footer
{
  display:inline-block;
  width:100vw; height:10vh;
  position:relative;
  bottom:0px;
  background-color:#000000;
  color: #8a8c87; font-size:11.5px; font-family:newyorker;
  text-align: center;
}
footer >p
{
  margin-top:1vh;
}
footer >p>span
{
  color: #8a8c87;
  transition-property: all; transition-duration: 1s; transition-timing-function: ease-in;
}
footer >p>span:hover
{
  color: #d0a115c7;
}
footer>p>img
{
  width:18px; height:14px;
}
}


@media only screen and (min-width:900px)
{
  main, footer
  {
    position:relative; top: 110.5vh;
  }
  main
  {
    height:2000px; background-color: #ffffff; z-index:0;
  }
  body
  {  background-image:url(../imago/OPAC/OPAC_Cover_1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat; background-size: cover; background-position: center top;
    z-index:-1;
  }
  #submenu
  {
    position: relative; top:-95.5vh;
    left:38vw; display: inline-block;
  }

  #submenu >a
  {
    text-decoration: none;
    box-sizing: border-box;
    width: 18vw;
    padding-top: 2vh; padding-bottom:4vh;
    padding-left: 1vw; padding-right: 1vw;
    margin:0;
    margin-left:2vw; margin-right:2vw;
    border-style: solid; border-color:#ffffff; border-width:1.5px;
    border-radius:35px;
    background-color: #1c1919; opacity:0.7;
    font-family:newyorker; font-size:14.5px;
    text-align: center;
  }
  #submenu >a:hover, #submenu >a:focus
  {
    color: #ae8610;
    border-color: #ae8610;
    opacity: 0.9;
  }
  #d1
  {
    position: relative;
    top: 0.5vh; clear:both; display: inline-block;
    width:99vw;
  }
  #d1> img
  {
    position: absolute;
    display:inline-block;
    width:60vw;
    left:20vw; top:-7.5vh;
  }
  #d1>section
  {
    display:inline-block; width:80vw;
    position: absolute; left:9.5vw;
  }

  #Intro
  {
    top:120px;
    text-align:justify; font-family: verdana;
    font-size: 16.5px; line-height: 19.5px;
  }
  #Intro h2
  {
    position: absolute;
    display: inline-block; width:80vw;
    font-family:newyorker; font-size: 28px;
    color: #d0a115c7; font-style: italic; font-variant: small-caps;
    text-align:center; font-weight: bold; margin-top:1vh;
  }

  #Cat1
  {
    position: absolute; display: inline-block;
    height:600px; width:500px;
    left: calc(35vw - 500px); top:50px
  }

  #Intro>p
  {
    position:absolute; display: inline-block;
    top:50px; left:45vw; width:33vw;
    margin-bottom: 2vh; text-align:justify; font-family: verdana;
    font-size: 16.5px; line-height: 20.5px;
    padding-top: 8vw;
  }

  #Spot3
  {
    overflow: hidden;
    position: absolute; display: inline-block;
    width:300px; height:280px;
    left:50vw; top:280px; z-index: -0.25;

  }

  #Links
  {
    top: 900px;
  }

  #Links a
  {
    display:inline-block;
    position:absolute;
    border-style:solid; border-width:1.5px;
    text-decoration:none;
    border-radius:0px; border-color: #9e9b04;
    transition-property: opacity, color;
    transition-duration: 1.0s; transition-delay: 0.2s;
    transition-timing-function: linear;
    text-align:center; color: #9e9b04; font-family:verdana;
    background-color: #ffffff; opacity:0.55;
    font-size: 35px; line-height:19px;
    margin:15px
  }

  #Links a:hover, #Links a:focus
  {
    border-color: #a1d015;
    color: #a1d015; opacity: 0.80;
  }

  #Catalogue
  {
    padding: 30px 0px;
    width:24vw;
    top:10px;
    left:10vw;
  }

  #Form
  {
    padding: 30px 0px;
    width:24vw;
    right: 10vw;
    top: 10px
  }

  #Spot1
  {
    overflow: hidden;
    position: absolute; display: inline-block;
    width:22vw; height:22.3vw;
    left:55vw; top:-100px; z-index: -1;
  }

  #Spot2
  {
    overflow: hidden;
    position: absolute; display: inline-block;
    width:400px; height:384px;
    left:-15vw; top:10px; z-index: -1;
  }

  #CatNap
  {
    top:1250px;
  }

  #Cat2
  {
    position: absolute; display: inline-block;
    width:700px;
    max-height: 550px; height:auto;
    left: calc( 40vw - 350px);

  }

  #Spot4
  {
    overflow: hidden;
    position:absolute;
    display: inline-block;
    top:525px; left:-15vw;
    width:220px; height:205px;
    z-index: -0.95;
  }

  .Styled
  {
    font-family:newyorker;
    font-size:22px;
  }

footer
{
  display:inline-block;
  width:99vw; height:8vh;
  position:relative;
  bottom:0px;
  background-color:#000000;
  color: #8a8c87; font-size:12.5px; font-family:newyorker;
  text-align: center;
}
footer >p
{
  margin-top:1vh;
}
footer >p>span
{
  color: #8a8c87;
  transition-property: all; transition-duration: 1.5s; transition-timing-function: ease-in;
}
footer >p>span:hover
{
  color: #d0a115c7;
}
footer>p>img
{
  width:18px; height:14px;
}
}
