@font-face {
  font-family: newyorker;
  src:url(fonts/newyork.TTF);
}
@media only screen and (max-width:900px)
{
main
{
  position: relative;
  top:18vh;
}
#d1
{
  display:inline-block;
  width:99.8vw; height:880px;
}
#d1 >section
{
  display:inline-block;
  width:95vw; height:auto;
  position: absolute;
  left: 2.5vw; top:30px;
  text:justify;
  z-index:-0.1;
  padding:2px;

}
h2
{
  font-family:newyorker; font-size: 28px;
  color: #d0a115c7; font-style: italic; font-variant: small-caps;
  margin-bottom: 30px; text-align:center; font-weight: bold; margin-top:1vh;
}
#d1 >section >p
{
  margin-bottom: 2vh; font-family:verdana, arial; text-align: justify;
  font-size: 16.5px; line-height: 19.5px;
}
figure
{
  position:absolute; display:inline-block;
  left:5vw; width:90vw; height:auto;
  top:220px; z-index:0;
}
figure >img
{
  position:absolute; display:inline-block;
  opacity:0.2; left:5vw;
  width:80vw;
}
figcaption
{
  opacity:0;
}
#d1 >img
{
  width: 99vw; height:auto;
  position:absolute;
  left:0.5vw; top: 780px;
  margin-bottom:2vh;
}
#d1 > section >p::first-letter
{
  font-family: newyorker; font-size: 22px; text-transform: capitalize;
}
a[href="https://goo.gl/forms/SuycVRKOfdV0qPc03"]
{
  text-decoration:none;
  color: #9e9b04;
}
section> div
{
  display:inline-block;
  position:absolute;
  border-style:solid; border-width: 1.1px; padding: 12px;
  text-align:center; color:#000000; font-family:verdana;
  font-size: 16px; line-height:19px; border-radius: 10px;
  transition-property:all, transform; transition-duration: 0.5s; transition-delay: 0.3s;
  transition-timing-function: linear; max-width:90vw;
  left:2.3vw; width: 88vw;
}
section>div:hover, section>div:focus
{
  border-color: #ae8610; padding:12.5px;

}
section >img
{
  display:inline-block;
  position:absolute;
}
section > div >p
{
  font-style: italic; color:#c7c312; padding-top: 8px;
}

#d2
{
  width:99vw; height: auto;
  display:inline-block; clear:both;
  position:relative;
  top:0px;
}
#d2q001
{
  left:6.5vw;
  width: 80vw;
}
#d2q002
{
  top: 440px;
}
#d2q003
{
  top: 590px;
}
#d2q004
{
  top: 1180px;

}
#d2i01
{
  width:20vw; height: 110px;
  left:40vw; top:1020px;
}

#d3
{
  width:99vw; height: auto;
  display:inline-block;
  position:relative;
  top:1350px;
}
#d3q001
{

}
#d3i01, #d3i02
{
  display:none;
}

#d4
{
  width:99vw; height: auto;
  display:inline-block;
  position:relative;
  top:1740px;
}
#d4q001
{
  max-width:40vw;
}
#d4q002
{
  left:50vw; max-width:40vw;
}

#d5
{
  width:99vw; height: auto;
  display:inline-block;
  position:relative;
  top:1980px;
}
#d5q001
{
 top: 205px;

}
#d5q002
{
 top: 350px;

}
#d5q003
{

}
#d5q004
{
 top: 465px;
}
#d5q005
{
  top: 590px;
}

#d6
{
  width:99vw; height: auto;
  display:inline-block;
  position:relative;
  top:2720px;
}
#d6q001
{
  top: 50px;

}
#d6q002
{
  top: 480px;
}
#d6q003
{
 top: 830px;
}
#d6q004
{
 top: 625px; left:30vw;
 max-width: 60vw;

}
#d6i01
{
  width: 35vw; height: 180px;
  left: -5vw; top: 610px;
}

#d7
{
  width:99vw; height: auto;
  display:inline-block;
  position:relative;
  top:3890px;

}

#d7>img
{
  dislay:inline-block;
  position:absolute;
  left:18vw; top:-20px;
  width:60vw; height:auto;
}
#d7> p
{
  width:94vw;
  color:#000000; font-size: 22px; font-family: sans-serif;
  text-align:center; position:absolute; left:3vw; top: 55px;
}
.Styled
{
  font-family: newyorker; font-size: 22px; text-transform: capitalize;
}
footer
{
  display:inline-block;
  width:100vw; height:10vh;
  position:relative;
  top:4150px;
  background-color:#000000;
  color: #8a8c87; font-size:11.5px; font-family:newyorker;
  text-align: center;
}
footer >p
{
  margin-top:1vh;
}
footer >p>span
{
  color: #8a8c87;
  transition-property: all; transition-duration: 1s; transition-timing-function: ease-in;
}
footer >p>span:hover
{
  color: #d0a115c7;
}
footer>p>img
{
  width:18px; height:14px;
}

}


@media only screen and (min-width:900px)
{
main
{
    position: relative; top:90px;
}
#d1
{
  display:inline-block;
  width:99.0vw; height:125vh;
}
#d1 >section
{
  display:inline-block;
  width:46vw; height:auto;
  position: absolute;
  left: 5vw; top:7vh;
}
h2
{
  font-family:newyorker; font-size: 28px;
  color: #d0a115c7; font-style: italic; font-variant: small-caps;
  margin-bottom: 8vh; text-align:center; font-weight: bold; margin-top:1vh;
}
#d1 >section >p
{
  margin-bottom: 2vh; font-family:verdana, arial; text-align: justify;
  font-size: 16.5px; line-height: 19.5px;
}
.op
{
  padding-top: 4.0vh;
}
#begar
{
  font-size: 26px; font-family: sans-serif; padding-top: 4.0vh;
}
#d1 > section >p::first-letter
{
  font-family: newyorker; font-size: 22px; text-transform: capitalize;
}
#d1> figure
{
  display:inline-block; position: absolute;
  width:42vw; height:85vh; left: 55vw; top: 2vh;
}
figure> img
{
  position:absolute;
  left:2vw; top:0vh;
  width:38vw; height: 75vh;
}
figcaption
{
  position:absolute;
  left:-1vw; top:74.5vh;
  text-align:center; font-family: newyorker; font-size: 17px; color: #d0a115c7;
  font-weight: bold;
}
#d1 >img
{
  width: 98.5vw; height:auto;
  position:absolute;
  left:0.1vw; top: 84vh;
  margin-top:5vh;
}
a[href="https://goo.gl/forms/SuycVRKOfdV0qPc03"]
{
  text-decoration:none;
  color: #9e9b04;
}
a[href="https://goo.gl/forms/SuycVRKOfdV0qPc03"]:hover, a[href="https://goo.gl/forms/SuycVRKOfdV0qPc03"]:focus
{
  color: #c7c312;
}


section> div
{
  display:inline-block;
  position:absolute;
  border-style:solid; border-width: 1.1px; padding: 12px;
  text-align:center; color:#000000; font-family:verdana;
  font-size: 16px; line-height:19px; border-radius: 10px;
  transition-property:all, transform; transition-duration: 0.5s; transition-delay: 0.3s;
  transition-timing-function: linear;
}
section>div:hover, section>div:focus
{
  border-color: #ae8610; padding:12.5px;
  transform: translateY(-5px);
}
section >img
{
  display:inline-block;
  position:absolute;
}
section > div >p
{
  font-style: italic; color:#c7c312; padding-top: 10px;
}


#d2
{
  width:99vw; height: auto;
  display:inline-block; clear:both;
  position:relative;
  top:25px;
}
#d2q001
{
  left:9.5vw; top: 80px;
  width: 80vw;
}
#d2q002
{
   left:3vw; top: 560px;
   width: 45vw;
}
#d2q003
{
  left:5vw; top: 280px;
  width: 40vw;
}
#d2q004
{
   left:51.5vw; top: 570px;
   width: 45vw;
}
#d2i01
{
  width:17vw; height: 320px;
  left:65vw; top:225px;
}



#d3
{
  width:99vw; height: auto;
  display:inline-block;
  position:relative;
  top:650px;
}
#d3q001
{
  left:33vw; max-width: 33vw;
}
#d3i01
{
  width:18vw; height: 48vh;
  left:75vw; top:45px;
}
#d3i02
{
  width:18vw; height: 48vh;
  left:6vw; top:45px;
}



#d4
{
  width:99vw; height: auto;
  display:inline-block;
  position:relative;
  top:970px;
}
#d4q001
{
  left:10vw; max-width:40vw;
}
#d4q002
{
  left:55vw; max-width:40vw;
}



#d5
{
  width:99vw; height: auto;
  display:inline-block;
  position:relative;
  top:1110px;
}
#d5q001
{
  left:5vw; top: 200px;

}
#d5q002
{
  left:58vw; top: 310px;

}
#d5q003
{
  left:15vw;
}
#d5q004
{
  left:8vw; top: 310px; max-width:36vw;
}
#d5q005
{
  left:20vw; top: 420px;
}
#d6
{
  width:99vw; height: auto;
  display:inline-block;
  position:relative;
  top:1590px;
}
#d6q001
{
  left:9.5vw; top: 80px;
  width: 80vw;
}
#d6q002
{
  left: 60vw; top: 350px;
  width:32vw;
}
#d6q003
{
  left:5vw; top: 290px;
  width: 35vw;
}
#d6q004
{
  left:60vw; top: 500px;
  width: 32vw;
}
#d6i01
{
  width: 20vw; height: 300px;
  left: 42vw; top: 270px;
}

#d7
{
  width:99vw; height: auto;
  display:inline-block;
  position:relative;
  top:2190px;

}

#d7>img
{
  dislay:inline-block;
  position:absolute;
  left:18vw; top:-20px;
  width:60vw; height:auto;
}
#d7> p
{
  color:#000000; font-size: 22px; font-family: sans-serif;
  text-align:center; position:absolute; left:35vw; top: 195px;
}


.Styled
{
  font-family:newyorker;
  font-size:22px;
}


footer
{
  display:inline-block;
  width:99vw; height:8vh;
  position:relative;
  top:2610px;
  background-color:#000000;
  color: #8a8c87; font-size:12.5px; font-family:newyorker;
  text-align: center;
  clear:both;
}
footer >p
{
  margin-top:1vh;
}
footer >p>span
{
  color: #8a8c87;
  transition-property: all; transition-duration: 1s; transition-timing-function: ease-in;
}
footer >p>span:hover
{
  color: #d0a115c7;
}
footer>p>img
{
  width:20px; height:14px;
}
}
