@font-face {
  font-family: newyorker;
  src:url(../fonts/newyork.TTF);
}

@media only screen and (max-width:900px)
{
  main
  {
    position:relative; top:100vh; height:5200px;
  }
  
  #submenu
  {
    text-align:center;
    position:relative;
    width:90%; height:20vh;
    top: -75vh;
    left:5%; z-index:-0.5;

  }
  #submenu >a
  {
    position:absolute;
    text-decoration: none;
    box-sizing: border-box;
    width: 35vw; max-height:7vh;
    padding-top: 2.5vh; padding-bottom:3vh;
    padding-left: 1vw; padding-right: 1vw;
    margin:0;
    margin-left:2vw; margin-right:2vw;
    border-style: solid; border-color: #ae8610; border-width:0.5px;
    border-radius:35px;
    background-color: #1c1919; opacity:0.6;
    font-family:newyorker; font-size:11.5px;color: #ffffff;
  }
  #submenu a:first-child
  {
    top:0vh; left:0px;
  }
  #submenu a:nth-child(2)
  {
    top:0vh; right:0vw;
  }
  #submenu a:nth-child(3)
  {
    top:10vh; left:0px;
  }
  #submenu a:last-child
  {
    top:10vh; right:0vw;
  }
  #UpTownFunk
  {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 35px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */

    color: #ffffff; background-color: #000000;
    width: 60px; height:55px;
    font-family: sans-serif;
    font-size:30px; border:none; border-radius: 5px;
    opacity: 0.75;
    transition-property: opacity, color;
    transition-duration: 0.5s; transition-delay: 0.2s;
    transition-timing-function: linear;
  }

  #UpTownFunk:hover, #UpTownFunk:focus
  {
    color: #ae8610;
    opacity: 0.85;
  }
 
  #d1
  {
    width:100.07%; height:5650px; background-color: #ffffff;
    position:absolute; top:30vh;
  }
  #d1> img
  {
    position: absolute;
    display:block;
    width:60vw;
    left:20vw; top:0px;
  }
  
  #d1s03
  {
    position: absolute; left:2.5vw; top:1700px;
    display:inline-block; width:95vw;
  }
  #d1s03 h2, #d1s04 h2, #d1s05 h2
  {
    position: absolute;
    display: inline-block; width:95vw;
    font-family:newyorker; font-size: 28px;
    color: #d0a115c7; font-style: italic; font-variant: small-caps;
    text-align:center; font-weight: bold; margin-top:1vh; margin-bottom:30px;
  }
  #d1s03 h4, #d1s04 h4, #d1s05 h4
  {
    position: absolute;
    display: inline-block; width:95vw;
    font-family:newyorker; font-size: 24px;
    color: #d0a115c7; font-style: italic; font-variant: small-caps;
    text-align:center; font-weight: bold; margin-top:1vh; margin-bottom:30px;
  }
  #d1s03 >div
  {
    position:absolute;
    top:330px;
  }
  #d1s03 p
  {
    margin-bottom: 2vh; text-align:justify; font-family: verdana;
    font-size: 16.5px; line-height: 19.5px;
  }
  #d1s04
  {
    position: absolute; left:2.5vw; top:2750px;
    display:inline-block; width:95vw;
  }
  
  #d1s04 >div
  {
    position:absolute;
    top:350px;
  }
  #d1s04 p
  {
    margin-bottom: 2vh; text-align:justify; font-family: verdana;
    font-size: 16.5px; line-height: 19.5px;
  }
  
  #d1s05
  {
    position: absolute;left:2.5vw; top:4800px;
    display:inline-block; width:95vw;
  }
  #d1s05 >div
  {
    position:absolute;
    top:330px;
  }
  #d1s05 p
  {
    margin-bottom: 2vh; text-align:justify; font-family: verdana;
    font-size: 16.5px; line-height: 19.5px;
  }

  #d1 a
  {
    text-decoration:none;
    color: #9e9b04;
  }

  .Styled
  {
    font-family: newyorker; font-size: 22px; text-transform: capitalize;
  }
  .ital
  {
    font-style:italic;
  }
  footer
  {
    display:inline-block;
    width:100vw; height:10vh;
    position:relative;
    top:185vh;
    background-color:#000000;
    color: #8a8c87; font-size:11.5px; font-family:newyorker;
    text-align: center;
  }
  footer >p
  {
    margin-top:1vh;
  }
  footer p>span
  {
    color: #8a8c87;
    transition-property: all; transition-duration: 1s; transition-timing-function: ease-in;
  }
  footer p>span:hover
  {
    color: #ae8610;
  }
  footer p>img
  {
    width:18px; height:14px;
  }
}
