@font-face {
  font-family: newyorker;
  src:url(../fonts/newyork.TTF);
}

@media only screen and (max-width:900px)
{
  main
  {
    position:relative; top:100vh; height:5200px;
  }
  
  
  #UpTownFunk
  {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 35px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */

    color: #ffffff; background-color: #000000;
    width: 60px; height:55px;
    font-family: sans-serif;
    font-size:30px; border:none; border-radius: 5px;
    opacity: 0.75;
    transition-property: opacity, color;
    transition-duration: 0.5s; transition-delay: 0.2s;
    transition-timing-function: linear;
  }

  #UpTownFunk:hover, #UpTownFunk:focus
  {
    color: #ae8610;
    opacity: 0.85;
  }
 
  #d1
  {
    width:100.07%; height:5650px; background-color: #ffffff;
    position:absolute; top:1vh;
  }
  
  #d1 h3
  {
    position: absolute;
    display: inline-block; width:95vw;
    font-family:newyorker; font-size: 24px;
    color: #d0a115c7; font-style: italic;
    text-align:center; margin-top:1vh; margin-bottom:30px;
  }
  
  #d1 h1
  {
    position: absolute;
    display: inline-block; width:95vw;
    font-family:newyorker; font-size: 32px;
    color: #d0a115c7; font-variant: small-caps;
    text-align:center; font-weight: bold; margin-top:5vh; margin-bottom:30px;
  }
  
  
  
  #d2
  {
    position: absolute; left:2.5vw; top:350px;
    display:inline-block; width:95vw;
  }
  
  #d2> img
  {
    position: absolute;
    display:block;
    width:60vw;
    left:20vw; top:90px;
  }  
  
  #d2 h3, #d3 h3, #d4 h3
  {
    position: absolute;
    display: inline-block; width:95vw;
    font-family:newyorker; font-size: 28px;
    color: #d0a115c7; font-style: italic; font-variant: small-caps;
    text-align:center; font-weight: bold; margin-top:10vh; margin-bottom:30px;
  }
  
  #d2 >div
  {
    position:absolute;
    top:150px;
  }
  #d2 p
  {
    margin-bottom: 2vh; text-align:justify; font-family: verdana;
    font-size: 16.5px; line-height: 19.5px;
  }
  #d3
  {
    position: absolute; left:2.5vw; top:2750px;
    display:inline-block; width:95vw;
  }
  
  #d3> img
  {
    position: absolute;
    display:block;
    width:60vw;
    left:20vw; top:30px;
  }
  
  #d3 >div
  {
    position:absolute;
    top:350px;
  }
  #d3 p
  {
    margin-bottom: 2vh; text-align:justify; font-family: verdana;
    font-size: 16.5px; line-height: 19.5px;
  }
  
  #d4
  {
    position: absolute;left:2.5vw; top:4800px;
    display:inline-block; width:95vw;
  }
  #d4 >div
  {
    position:absolute;
    top:330px;
  }
  #d4 p
  {
    margin-bottom: 2vh; text-align:justify; font-family: verdana;
    font-size: 16.5px; line-height: 19.5px;
  }

  #d1 a
  {
    text-decoration:none;
    color: #9e9b04;
  }
  .Styled
  {
    font-family: newyorker; font-size: 22px; text-transform: capitalize;
  }
  .ital
  {
    font-style:italic;
  }
  .bold
  {
    font-weight:bold;
  }
  
  footer
  {
    display:inline-block;
    width:100vw; height:10vh;
    position:relative;
    top:185vh;
    background-color:#000000;
    color: #8a8c87; font-size:11.5px; font-family:newyorker;
    text-align: center;
  }
  footer >p
  {
    margin-top:1vh;
  }
  footer p>span
  {
    color: #8a8c87;
    transition-property: all; transition-duration: 1s; transition-timing-function: ease-in;
  }
  footer p>span:hover
  {
    color: #ae8610;
  }
  footer p>img
  {
    width:18px; height:14px;
  }
}
@media only screen and (min-width:900px)
{
  html, body {
      max-width: 100%;

  }

main, footer
{
  position:relative; top:90px;
}

#UpTownFunk
{
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 35px; /* Place the button 35px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */

  color: #ffffff; background-color: #000000;
  width:100px; height:100px;
  font-family: sans-serif;
  font-size:35px; border:none; border-radius: 5px;
  opacity: 0.85;
  transition-property: opacity, color;
  transition-duration: 0.5s; transition-delay: 0.2s;
  transition-timing-function: linear;
}

#UpTownFunk:hover, #UpTownFunk:focus
{
  color: #ae8610;
  opacity: 0.95;
}

#d1
{
  position: relative; background-color: #ffffff;
  top: 10vh; clear:both; display: inline-block;
  width:99vw; height: 4600px; z-index:0;
}
  
#d1 h3
  {
    position: absolute;
    display: inline-block; width:95vw;
    font-family:newyorker; font-size: 35px;
    color: #d0a115c7; font-style: italic;
    text-align:center; margin-top:1vh; margin-bottom:30px;
  }
  
  #d1 h1
  {
    position: absolute;
    display: inline-block; width:95vw;
    font-family:newyorker; font-size: 85px;
    color: #d0a115c7; font-variant: small-caps;
    text-align:center; font-weight: bold; margin-top:10vh; margin-bottom:45px;
  }

  #d1 p.ex1
  {
    position: absolute;
    display: inline-block; width:95vw;
    font-family:newyorker; font-size: 28px;
    color: #d0a115c7;
    text-align:center; top:30vh;
  }
  
  #d1 p.ex2
  {
    position: absolute;
    display: inline-block; width:95vw;
    font-family:newyorker; font-size: 28px;
    color: #d0a115c7;
    text-align:center; margin-top:40vh; margin-bottom:30px;
  }
  
  #d1 p.ex3
  {
    position: absolute;
    display: inline-block; width:95vw;
    font-family:newyorker; font-size: 28px;
    color: #d0a115c7;
    text-align:center; margin-top:50vh; margin-bottom:30px;
  }
  
#d2
  {
    position: absolute; left:2.5vw; top:150px;
    display:inline-block; width:95vw;
  }
  
  #d2> img
  {
    position: absolute;
    display:block;
    width:60vw;
    left:20vw; top:50px;
  }  
  
  #d2 h3, #d3 h3, #d4 h3
  {
    position: absolute;
    display: inline-block; width:95vw;
    font-family:newyorker; font-size: 40px;
    color: #d0a115c7; font-style: italic; font-variant: small-caps;
    text-align:center; font-weight: bold; margin-top:210px; margin-bottom:30px;
  }
  
  #d2 >div
  {
    position:absolute;
    top:300px;
  }
  #d2 p
  {
    margin-bottom: 2vh; text-align:justify; font-family: verdana;
    font-size: 16.5px; line-height: 19.5px;
  }
  #d3
  {
    position: absolute; left:2.5vw; top:1800px;
    display:inline-block; width:95vw;
  }
  
  #d3> img
  {
    position: absolute;
    display:block;
    width:60vw;
    left:20vw; top:30px;
  }
  
  #d3 >div
  {
    position:absolute;
    top:300px;
  }
  #d3 p
  {
    margin-bottom: 2vh; text-align:justify; font-family: verdana;
    font-size: 16.5px; line-height: 19.5px;
  }
  
  #d4
  {
    position: absolute;left:2.5vw; top:3500px;
    display:inline-block; width:95vw;
  }
  #d4 >div
  {
    position:absolute;
    top:330px;
  }
  #d4 p
  {
    margin-bottom: 2vh; text-align:justify; font-family: verdana;
    font-size: 16.5px; line-height: 19.5px;
  }

  #d1 a
  {
    text-decoration:none;
    color: #9e9b04;
  }
  .Italic
  {
    font-family: newyorker; font-size: 16.5px; font-style: italic;
  }
  .Styled
  {
    font-family: newyorker; font-size: 28px; text-transform: capitalize;
  }
  .ital
  {
    font-style:italic;
  }
  .bold
  {
    font-weight:bold;
  }
  footer
  {
    display:inline-block;
    width:100vw; height:10vh;
    position:relative;
    top:400vh;
    background-color:#000000;
    color: #8a8c87; font-size:11.5px; font-family:newyorker;
    text-align: center;
  }
  footer >p
  {
    margin-top:1vh;
  }
  footer p>span
  {
    color: #8a8c87;
    transition-property: all; transition-duration: 1s; transition-timing-function: ease-in;
  }
  footer p>span:hover
  {
    color: #ae8610;
  }
  footer p>img
  {
    width:18px; height:14px;
  }
}
